{% extends "layout.njk" %}

{% block content %}

    <section>
        <div class="me">
            <img src="img/luffy.jpg"/>

            <h1>Rodrigo Silvério</h1>
            <span>Desenvolvedor Full-Stack</span>

            <p>
                Focado nas melhores tecnologias para o desenvolvimento de aplicações web e mobile, afim de trazer a melhor experiência para o usuário.
            </p>
        </div>

        <div class="socialNetwork">
            <a href="https://github.com/silverioTenor/" target="_blank">Github</a>
            <a href="https://twitter.com/silverio_tenor" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/rodrigo-silverio-659502139/" target="_blank">LinkedIn</a>
        </div>
    </section>
    
{% endblock content %}