{% extends "layout.njk" %}

{% block content %}

    <section>
        <div class="me">
            <img src="img/{{ data.photo }}"/>

            <h1>{{ data.name }}</h1>
            <span>{{ data.job }}</span>

            <p>{{ data.description }}</p>
        </div>

        <div class="socialNetwork">
            {% for link in links %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor %}
        </div>
    </section>

{% endblock content %}