<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Meu Perfil</title>

    <!-- Style -->
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <header>
        <nav class="menu">
            <a href="/">Sobre</a>
            <span class="space">|</span>
            <a href="/portfolio">Aulas</a>
        </nav>
    </header>

    <section>
        <div class="me">
            <img src="img/luffy.jpg"/>

            <h1>Rodrigo Silvério</h1>
            <span>Desenvolvedor Full-Stack</span>

            <p>
                Focado nas melhores tecnologias para o desenvolvimento de aplicações web e mobile, afim de trazer a melhor experiência para o usuário.
            </p>
        </div>

        <div class="socialNetwork">
            <a href="https://github.com/silverioTenor/" target="_blank">Github</a>
            <a href="https://twitter.com/silverio_tenor" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com/in/rodrigo-silverio-659502139/" target="_blank">LinkedIn</a>
        </div>
    </section>
</body>
</html>