<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% block head %}
            <title>Meu Perfil</title>
        {% endblock head %}

        <!-- STYLES -->
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <header>
            <nav class="menu">
                <a href="/">Sobre</a>
                <span class="space">|</span>
                <a href="/portfolio">Aulas</a>
            </nav>
        </header>

        {% block content %}{% endblock content %}
    </body>
</html>